body {
    font-family: monospace;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1 {
    text-align: center;
    color: red;
}

.p1 {
    text-align: center;
    text-size-adjust: 2px;
    te
}